

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700');

.pagado{

    width: 100%;

    position: fixed;

    top: 30%;

    left: 0;

    opacity: 0.5;

    -webkit-transform: rotate(-15deg);

    -moz-transform: rotate(-15deg);

    -ms-transform: rotate(-15deg);

    transform: rotate(-15deg);

}

body

{

    font-family: 'Montserrat', sans-serif;

    font-size: 10pt;

    background-color: #F1F1F1;

    margin: 0;

    padding: 0.8rem !important;

    color: #929497;

}

table{

    padding: 0;

    margin: 0;

    width: 100%;

    border-radius: 4px;



}

span{

    font-weight: normal;

    color: #000000;

}

.hr{

    border: none;

    height: 1px;

    background-color: #E9E9E9;

}

.null{

    border: none;

    height: 3px;

    background-color: #000;

}

.w80{

    margin: auto;

    width: 97%;

    padding: 0;

}

.w20{

    margin: auto;

    width: 20%;

    padding: 0;

}

.all{

    height: 97%;

    border: 1px solid #E9E9E9;

    background: #ffffff;

}

.text-center{

    text-align: center;

}

.logo{

    width: 200px;

}

.bill-table{

    border-collapse:collapse;

    border: 1px solid #ffffff;

    background-color: #F2F8F9;

    width: 50%;

    margin-left: 15%;

    padding:  0;

}

.bill-table td{

    padding-bottom: 0.8rem;

    padding-top: 0.8rem;

    padding-left: 1.8rem;

}

.bill-title{

    letter-spacing: 10.4pt;

    font-size: 12pt;

}

.noPadding td{

    border-top: 1px solid #ffffff;

    padding-left:  0;

}

.bb-1{

    border-bottom:  1px solid #E9E9E9;

}

.bt-1{

    border-top: 1px solid #E9E9E9;

}

.br-1{

    border-right: 1px solid #ffffff;

}

.fz12{

    margin: 0;

    padding: 0;

    font-size: 12pt;

}

.fz11{

    margin: 0;

    padding: 0;

    font-size: 11pt;

}

.clientDates{

    font-weight: 300;

    padding-right: 1rem;

    line-height: 1.5rem;

}

/*.team{
    font-weight:2px;
}*/

.normal{

    font-weight: 400;

}

.bg-blue td{

    padding: 1rem !important;

    background-color: #F2F8F9 ;

    vertical-align: middle;

}

.info-products{

    margin-top: 0.5rem;

    padding: 1rem;

    background-color: #F2F8F9;

    border-radius: 4px;

}

.imagenMaquina{

    width: auto;

    max-height: 105.4px;

    border-radius: 4px;

}



.days-container{

    vertical-align: top;

}

.precio-day-container,

.precio-total-container, .precio-transporte-container, .precio-totalGen-container{

    padding: 1rem 0 1rem 0;

    vertical-align: top;

}

.table-details-image{

    padding: 0.5rem 0 0.5rem 0;

}

/*.pt-0.5{

    padding: 0.5rem 0 0.5rem 0;

}*/



.table-details-days{

    color: #000000;

    padding: 0.5rem 0 0.5rem 0;

}

.table-details-days td span{

    color: #BB0034;

}

.more-detail-container{

    padding: 0.5rem;

    text-align: right;

}

.more-detail-container a{

    color: #27AAE1;

    text-decoration: none;

}



.observation-container{

    text-align: justify;

    color: #000000;

}

.totals tr td{

    padding: 0.3rem;

}



.number span{

    color: #BB0034;

}


collapse
.right{

    text-align: right;

}

.left{

    text-align: left;

}

.footer{

    text-align: justify;

    color: #B2B2B2;

    font-size: 7pt;

}



.h100{

    height:  100%;

    border-radius: 4px;

}

.image-container{

    margin: auto;

    width: 80px;

    height: 100px;

    overflow: hidden;

    border-radius: 4px;

}

@page {

    margin: 0;

}



.logocontainer{

    width: 60%;

}



.text-center{

    text-align: center !important;

}

.more-detail-container{

    text-align: right !important;

}

.bill-table td{

    background-color: #F2F8F9;

    margin-left: 0;

    text-align: center !important;

    width: 100% !important;

}

.m0{

    padding-top: 0;

}

.p2{

    padding: 1rem;

}

.fz-10{

    font-size: 10px;

}

